# {{ ansible_managed }}
[Unit]
Description=Icecast2 streaming media server
Documentation=https://icecast.org/docs/

[Service]
Type=simple
User={{ icecast_user }}
Group=icecast
ExecStart=/bin/icecast -c {{ icecast_conf_file }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
